# Python
__pycache__/
*.pyc
.venv/
venv/

# Pytest
.pytest_cache/
htmlcov/

# Env
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Test artifacts (BIG!)
testArtifacts/
reports/
screenshots/
videos/
logs/

# Node
node_modules/

# Archives
*.zip
*.tar
*.gz
*.mp4
